<div class="app-menu">
    <div class="row filter">
        <div class="span4 btn-group" data-toggle="buttons-radio">
          <button type="button" class="btn btn-inverse active" id="allButton">Todas</button>
          <button type="button" class="btn btn-inverse" id="favoriteButton">Favoritas</button>
        </div>
        <form class="span5 form-search form-inline pull-right">
            <input type="text" class="input-large search-query" id="searchText" placeholder="Buscar...">
            <button type="submit" class="btn" id="searchButton">Buscar</button>
        </form>
    </div>
    <ul class="breadcrumb">
      <li><a href="#">Home</a> <span class="divider">/</span></li>
      <li><a href="#">Library</a> <span class="divider">/</span></li>
      <li class="active">Data</li>
    </ul>
    <hr/>
    <div class="pagination pagination-large pagination-centered">
      
    </div>
    <div class="row items">
        
    </div>
    
</div>