<div class="app-menu">
    <div class="row filter">
        <div class="span4 btn-group" data-toggle="buttons-radio">
          <button type="button" class="btn btn-inverse active">Todas</button>
          <button type="button" class="btn btn-inverse">Recientes</button>
          <button type="button" class="btn btn-inverse">Favoritas</button>
        </div>
        <form class="span5 form-search form-inline pull-right">
            <input type="text" class="input-large search-query" placeholder="Buscar...">
            <button type="submit" class="btn">Buscar</button>
        </form>
    </div>
    <ul class="breadcrumb">
      <li><a href="#">Home</a> <span class="divider">/</span></li>
      <li><a href="#">Library</a> <span class="divider">/</span></li>
      <li class="active">Data</li>
    </ul>
    <hr/>
    <div class="row items">
        
    </div>
    <div class="pagination pagination-centered">
      <ul>
        <li><a href="#">Prev</a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">Next</a></li>
      </ul>
    </div>
</div>