<form class="form-signin">
    <h2>Centro Aplicaciones</h2>
    <div class="control-group">
        <div class="controls">
            <div class="input-prepend">
                <span class="add-on"><i class="icon-user"></i></span>
                <input type="text" class="input-large" id="user" placeholder="Usuario">
            </div>
        </div>
        <div class="controls">
            <div class="input-prepend">
                <span class="add-on"><i class="icon-lock"></i></span>
                <input type="password" class="input-large" id="password" placeholder="Contraseña">
            </div>
        </div>
        
        <button class="btn btn-primary btn-large" id="loginButton">
            <i class="icon-lock icon-white"></i>
            Iniciar</button>
    </div>
    <div class="message" style="display:none;">
        <div class="alert alert-error">
            <label id="text"></label>
        </div>
    </div>
</form>